<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt atque doloribus consectetur dolor, molestiae ad magnam provident eius architecto, nostrum numquam quidem assumenda dolores. Temporibus eius rem laudantium error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt atque doloribus consectetur dolor, molestiae ad magnam provident eius architecto, nostrum numquam quidem assumenda dolores. Temporibus eius rem laudantium error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt atque doloribus consectetur dolor, molestiae ad magnam provident eius architecto, nostrum numquam quidem assumenda dolores. Temporibus eius rem laudantium error.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>